# Database
DB_PASSWORD=your-strong-password

# JWT
JWT_SECRET=your-secret-key
JWT_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=7d

# VPS Settings (for GitHub Actions)
VPS_HOST=your-vps-ip
VPS_USERNAME=root
VPS_PORT=22

# App
PORT=3001
NODE_ENV=development

# OpenAI
#OPENAI_API_KEY=sk-your-openai-api-key-here
#OPENAI_MODEL=gpt-3.5-turbo
OPENAI_API_KEY=sk-ваш-ключ-deepseek
OPENAI_MODEL=deepseek-v4-flash
AI_TEMPERATURE=0.7
AI_MAX_TOKENS=1000
AI_GENERATION_INTERVAL=3600000