# .gitignore
# Nuxt
.nuxt
.output
.dist

# Node
node_modules
*.log

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local

# Build
dist
build