:root {
    /* Светлая тема */
    --primary-color: #3B82F6;
    --primary-hover: #2563EB;
    --surface-ground: #F8F9FA;
    --surface-section: #FFFFFF;
    --surface-card: #FFFFFF;
    --surface-overlay: #FFFFFF;
    --surface-border: #DFE7EF;
    --surface-hover: #F6F9FC;
    --text-color: #495057;
    --text-color-secondary: #6C757D;
    --text-color-disabled: #ADB5BD;
    --highlight-bg: #EFF6FF;
    --highlight-text-color: #3B82F6;
    --focus-ring: 0 0 0 0.2rem #BFDBFE;
    --maskbg: rgba(0, 0, 0, 0.4);
    --border-radius: 6px;
    --transition-duration: 0.2s;
}

.dark {
    --primary-color: #60A5FA;
    --primary-hover: #3B82F6;
    --surface-ground: #111827;
    --surface-section: #1F2937;
    --surface-card: #1F2937;
    --surface-overlay: #1F2937;
    --surface-border: #374151;
    --surface-hover: #374151;
    --text-color: #F9FAFB;
    --text-color-secondary: #D1D5DB;
    --text-color-disabled: #6B7280;
    --highlight-bg: #1E3A5F;
    --highlight-text-color: #60A5FA;
    --focus-ring: 0 0 0 0.2rem #1E3A5F;
    --maskbg: rgba(0, 0, 0, 0.6);
}